body {
 background: #00ffff;
 color: #B6862C;
 font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.photo-grid img {
 margin-top: 2%;
 margin-bottom: 2%;
 display:block;
 margin-left: auto;
 margin-right: auto;
}

.navbar {
 background-color: #081E3F;
 color: #B6862C;
}

.navbar a {
 color: #B6862C;
}

.nav-pills .nav-item .nav-link {
 background: #CC0066;
 color: #00ffff;
}

.nav-pills .nav-link .nav-link.active {
 background: #CC0066;
}

#column-card img {
 height: 100%;
 width: 100%;
}

.card {
 background-color: #081E3F;
 margin-bottom: 1%;
}